<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675694083364-hugpptnf29odudtmno66na5pjk0o8sc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675694083364-hugpptnf29odudtmno66na5pjk0o8sc9</string>
	<key>API_KEY</key>
	<string>AIzaSyBNl1XlO7Er2texDmkSjXLiQP8_J5zxuVk</string>
	<key>GCM_SENDER_ID</key>
	<string>675694083364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>luchonic.AplicacionBarber</string>
	<key>PROJECT_ID</key>
	<string>loginview-d8800</string>
	<key>STORAGE_BUCKET</key>
	<string>loginview-d8800.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675694083364:ios:389c291db07dd6035e07b1</string>
</dict>
</plist>